---
import { getCollection, getEntry } from "astro:content"
import Layout from "@/layouts/Layout.astro"

const { slug } = Astro.params
if (!slug) throw new Error("Slug not found")
const post = await getEntry("posts", slug)

if (!post) throw new Error("No post found for this slug")
const { Content } = await post.render()

export async function getStaticPaths() {
  const posts = await getCollection("posts")
  return posts.map((post) => ({ params: { slug: post.slug } }))
}
---

<Layout title={`${post.data.title} | TunkShif`}>
  <h1 class="text-2xl font-semibold text-slate-800 dark:text-white">{post.data.title}</h1>
  <div class="article prose mx-auto max-w-3xl dark:prose-invert">
    <Content />
  </div>
</Layout>

<style>
  .article :global(.astro-code) {
    background-color: rgb(30, 41, 59) !important;
  }
</style>
