---
import RootLayout from "@/layouts/root.astro"
import { Posts } from "@/libs/contents"
import { format } from "date-fns"

const { slug } = Astro.params
if (!slug) throw new Error("Slug not found")

const post = await Posts.find(slug)

const { Content } = await post.render()

export async function getStaticPaths() {
  const posts = await Posts.all()
  return posts.map((post) => ({ params: { slug: post.slug } }))
}
---

<RootLayout>
  <title slot="head">
    {`${post.data.title} | tunkshif.one`}
  </title>

  <div class="mb-2 font-light">
    <div class="inline-block after:content-['/'] after:mx-1">
      #{post.data.category}
    </div>
    <time datetime={post.data.created.toISOString()}>
      {format(post.data.created, "MMM dd, yyyy")}
    </time>
  </div>

  <h1 class="text-2xl font-semibold text-slate-800 dark:text-white">{post.data.title}</h1>
  <div class="article prose mx-auto max-w-3xl dark:prose-invert">
    <Content />
  </div>
</RootLayout>
