---

---

<section class="py-8 w-full flex justify-between">
  <div>
    <h1 class="text-primary text-5xl font-bold">
      <div class="block">Hello,</div>
      <div class="block">
        I'm
        <div class="inline-block">
          <div
            class:list={[
              "relative inline-block",
              "after:absolute after:-bottom-2 after:left-1 after:top-1/2 after:inline-block after:h-1/2 after:w-full after:content-['']",
              "after:-skew-x-12 after:-skew-y-2 after:rounded-[8px_14px_22px_16px] after:bg-black after:bg-opacity-20 after:mix-blend-multiply",
              "after:transition-colors after:duration-500 after:ease-in-out hover:after:bg-sky-200",
              "dark:after:bg-slate-600 dark:after:mix-blend-soft-light dark:hover:after:bg-sky-300"
            ]}
          >
            Tristan
          </div>
        </div>.
      </div>
    </h1>
    <div class="mt-6 space-y-1 font-medium leading-snug">
      <div>web developer / language enthusiast</div>
      <div>building things on the web for better life</div>
    </div>
  </div>
</section>
