---
import Layout from "@layouts/Layout.astro"
import ProjectCards from "@components/ProjectCards"
import { TwitterIcon, GitHubIcon } from "@components/Icons"
import dayjs from "dayjs"
import { sortedPosts } from "../utils"
import intro from "../data/intro.json"

const posts = sortedPosts(await Astro.glob("./posts/*.mdx")).slice(0, 5)
---

<Layout title="tunkshif.one">
  <main>
    <section>
      <h1 class="mb-6 font-semibold text-4xl text-slate-700 dark:text-gray-50">
        {intro.title}
      </h1>
      {intro.texts.map((text) => <p class="md:py-1 text-lg md:text-base leading-loose">{text}</p>)}
      <ul class="mt-6 flex space-x-4 md:space-x-2">
        <li>
          <a href="https://twitter.com/TunkShif" role="button" aria-label="Twitter" target="_blank">
            <TwitterIcon
              class="w-7 h-7 text-gray-700 dark:text-gray-50 opacity-80 hover:opacity-100"
            />
          </a>
        </li>
        <li>
          <a href="https://github.com/TunkShif" role="button" aria-label="Github" target="_blank">
            <GitHubIcon
              class="w-7 h-7 text-gray-700 dark:text-gray-50 opacity-80 hover:opacity-100"
            />
          </a>
        </li>
      </ul>
    </section>
    <section class="my-10 md:my-8">
      <h1 class="mb-6 font-semibold text-2xl text-slate-700 dark:text-gray-50">Recent Posts</h1>
      <ul>
        {
          posts.map((post) => (
            <li>
              <div class="py-1 md:py-2 text-lg md:text-base flex justify-between items-center leading-loose">
                <a
                  href={post.url}
                  class="font-medium whitespace-nowrap overflow-hidden overflow-ellipsis hover:underline"
                >
                  {post.frontmatter.title}
                </a>
                <time class="hidden md:block text-gray-600 dark:text-gray-400">
                  {dayjs(post.frontmatter.pubDate).format("MM/DD/YYYY")}
                </time>
              </div>
            </li>
          ))
        }
      </ul>
    </section>
    <section class="my-10 md:my-8">
      <h1 class="mb-6 font-semibold text-2xl text-slate-700 dark:text-gray-50">My Projects</h1>
      <ProjectCards />
    </section>
  </main>
</Layout>
