---
import NavMenu from "@components/NavMenu"
import ThemeSwitch from "@components/ThemeSwitch"

const links = [
  { text: "Home", route: "/" },
  { text: "Posts", route: "/posts" },
  { text: "RSS", route: "/rss.xml" },
  { text: "About", route: "/about" }
]
---

<header
  class:list={[
    "sticky w-full top-0 z-50 backdrop-blur",
    "border-b border-slate-900/10 dark:border-slate-50/[0.06]",
    "bg-white/95 supports-backdrop-blur:bg-white/60 dark:bg-transparent"
  ]}
>
  <div class="mx-4 md:mx-16 py-4 md:py-3 flex justify-between">
    <div>
      <a
        class:list={[
          "inline-block font-display font-semibold text-2xl text-slate-700 dark:text-gray-50",
          "select-none transform transition-transform duration-200 hover:-translate-y-1"
        ]}
        href="/"
      >
        tunkshif.one
      </a>
    </div>
    <div class="flex items-center">
      <nav class="hidden md:block mt-0.5">
        <ul class="flex items-center space-x-6">
          {
            links.map(link => (
              <li>
                <a class="font-medium hover:underline" href={link.route}>
                  {link.text}
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
      <div class="ml-4 pl-4 flex items-center md:border-l border-slate-300 dark:border-slate-700">
        <ThemeSwitch client:visible />
        <NavMenu client:visible />
      </div>
    </div>
  </div>
</header>
