---
interface Props {
  project: string
  file: string
  height?: number
  withEditor?: boolean
  withConsole?: boolean
  clickToLoad?: boolean
}

const { project, file, height, withEditor, withConsole, clickToLoad } =
  Astro.props

const params = {
  embed: "1",
  file: file,
  view: withEditor || "preview",
  hideNavigation: "1",
  hideDevTools: !withConsole && "1",
  ctl: clickToLoad && "1"
} as Record<string, any>
Object.keys(params).forEach((key) =>
  !Boolean(params[key]) ? delete params[key] : {}
)

const url =
  `https://stackblitz.com/edit/${project}?` + new URLSearchParams(params)
---

<div>
  <iframe class="w-full" style={`height: ${height || 200}px;`} src={url}
  ></iframe>
</div>
