---
export interface Props {
  name: string
}

const icons: Record<string, string> = {
  react: "i-nonicons-react-16",
  elixir: "i-nonicons-elixir-16",
  typescript: "i-nonicons-typescript-16",
  html: "i-nonicons-html-16",
  css: "i-nonicons-css-16",
  kotlin: "i-nonicons-kotlin-16",
  zig: "i-simple-icons-zig",
  python: "i-nonicons-python-16",
  c: "i-nonicons-c-16"
}

const { name } = Astro.props

const icon = icons[name]
---

<li
  title={name}
  class:list={[icon, "mb-0.5 inline-flex justify-center items-center h-4 w-4 opacity-80"]}
>
  <span class="sr-only">{name}</span>
</li>
