---
import RootLayout from "@/layouts/root.astro"
import ProjectCard from "./_card.astro"
import { Projects } from "@/libs/contents"

const projects = await Projects.all()
---

<RootLayout>
  <title slot="head">Projects | tunkshif.one</title>

  <h1 class="mb-4 text-primary text-xl md:text-2xl font-semibold">Projects</h1>

  <div>
    <ul class="grid grid-cols-1 md:grid-cols-2 gap-4">
      {
        projects.map((project) => (
          <li>
            <ProjectCard project={project.data} />
          </li>
        ))
      }
    </ul>
  </div>
</RootLayout>
