---
import Layout from "@layouts/Layout.astro"
import "prism-themes/themes/prism-one-dark.css"
import "../styles/prose.css"

const title = Astro.props.frontmatter.title
---

<Layout title={`${title} - tunkshif.one`}>
  <main>
    <h1 class="mb-4 text-4xl font-extrabold">{title}</h1>
    <article
      class:list={[
        "mx-auto max-w-4xl prose dark:prose-invert",
        "prose-blockquote:font-normal prose-blockquote:not-italic",
        "prose-code:font-normal prose-code:font-mono prose-code:rounded-sm",
        "prose-code:bg-[#1e293b] prose-code:text-[rgb(171,178,191)]"
      ]}
    >
      <slot />
    </article>
  </main>
</Layout>
